/* fonts */

@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: block;
    background: linear-gradient(135deg,rgb(173, 220, 202, 1) 32%, rgb(174, 190, 137, 1) 61%);
    background-repeat: no-repeat;
    width: 100%;
    height: 44.5em;
}

h1 {
    color: white;
    text-shadow: 2px 2px 2px black;
    margin-bottom: 30px;
}

#app {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    gap: 20px;
    min-width: 100%;
    min-height: 100%;
}

.section01 {
    display: block;
    flex-direction: column;
    background-color:rgba(255, 255, 255, 0.711);
    border: none;
    border-radius: 5px;
    width: 450px;
    height: 80px;
}

.section02 {
    display: flex;
    background-color:rgba(255, 255, 255, 0.711);
    border: none;
    border-radius: 5px;
    margin-top: 30px;
    width: 450px;
    height: 80px;
}

#text_task {
    font-family: "League Spartan", sans-serif;
    font-size: 20px;
    border: 1px solid rgba(255, 255, 255, 0.352);
    color:rgb(84, 84, 84);
    text-align: center;
    border-radius: 4px;
    min-width: 300px;
    min-height: 40px;
    margin-top: 20px;
    margin-left: 30px;
}

#text_recebe {
    font-family: "League Spartan", sans-serif;
    display: flex;
    justify-content: center;
    color: rgb(31, 31, 31);
    font-size: 22px;
    min-width: 350px;
    min-height: 40px;
    margin-top: 30px;
    margin-left: 5px;
    margin-bottom: 30px;
}
 
#button_adicionar {
    font-family: "League Spartan", sans-serif;
    font-size: 17px;
    min-height: 35px;
    min-width: 70px;
    margin-left: 10px;
    border: 1px solid rgba(255, 255, 255, 0.352);
    border-radius: 4px;
    color: white;
    background-color: rgba(91, 163, 91, 0.647);
}

#button_excluir {
    font-size: 23px;
    min-height: 25px;
    min-width: 60px;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 3%;
    border: 1px solid rgba(255, 255, 255, 0.352);
    border-radius: 4px;
    color: white;
    background-color: rgba(91, 163, 91, 0.647); 
}